# Plugin Configuration for Flood_Tools
# Each entry is menuName, "Command text", className
# Author LazzyIzzi
# Requires ImageJ 1.53k
# Date:2/5/2022

#Eclipse embeds the package name (Flood_Tools) into the the className access path.
#plugins.config must explicitly put the package name in the className access path.
#Note the use of the "dot" in the path string. Why not the traditional "/" or "\"???

#only one plugins.config file per jar file
#jar file structure must be flat, i.e. no embedded directories

Plugins>Flood_Tools>Euclidean,"Exact_Euclidean", Flood_Tools.Exact_Euclidean
Plugins>Flood_Tools>Euclidean,"Draw_Sphere",  Flood_Tools.Draw_Sphere
Plugins>Flood_Tools>Euclidean,"Draw_Overlapping_Spheres",  Flood_Tools.Draw_Overlapping_Spheres

Plugins>Flood_Tools>Flood Fill,"Flood Fill_3D",  Flood_Tools.FloodFill_3D
Plugins>Flood_Tools>Flood Fill,"Hybrid_Flood",  Flood_Tools.Hybrid_Flood
Plugins>Flood_Tools>Flood Fill,"Hybrid_Flood_Scan",  Flood_Tools.Hybrid_Flood_Scan
Plugins>Flood_Tools>Flood Fill,"Hybrid_Flood_Search", Flood_Tools.Hybrid_Flood_Search

Plugins>Flood_Tools>Geodesic,"Geodesic_Transform",  Flood_Tools.Geodesic_Transform
Plugins>Flood_Tools>Geodesic,"GeodesicPath_2D",  Flood_Tools.GeodesicPath_2D
Plugins>Flood_Tools>Geodesic,"GeodesicPath_3D",  Flood_Tools.GeodesicPath_3D
Plugins>Flood_Tools>Geodesic,"Get_Points_And_Values",  Flood_Tools.Get_Points_And_Values
Plugins>Flood_Tools>Geodesic,"Set_Stack_Scale",  Flood_Tools.Set_Stack_Scale
Plugins>Flood_Tools>Geodesic,"Write_ROI_On_Image", Flood_Tools.Write_ROI_On_Image
