# Plugin Configuration for Flood_Tools
# Each entry is menuName, "Command text", className
# Author LazzyIzzi
# Requires ImageJ 1.53k
# Date:7/15/2023

#Eclipse embeds the package name (Flood_Tools) into the the className access path.
#plugins.config must explicitly put the package name in the className access path.
#Note the use of the "dot" in the path string. Why not the traditional "/" or "\"???

#only one plugins.config file per jar file
#jar file structure must be flat, i.e. no embedded directories
#Include DistanceLib and ImageJAddins when building bundled jar file

Plugins>Flood Tools>Euclidean,"Exact Euclidean", Flood_Tools.Exact_Euclidean
Plugins>Flood Tools>Euclidean,"Draw Sphere",  Flood_Tools.Draw_Sphere
Plugins>Flood Tools>Euclidean,"Draw Overlapping Spheres",  Flood_Tools.Draw_Overlapping_Spheres

Plugins>Flood Tools>Flood Fill,"Flood Fill 3D",  Flood_Tools.Flood_Fill_3D
Plugins>Flood Tools>Flood Fill,"Hybrid Flood",  Flood_Tools.Hybrid_Flood
Plugins>Flood Tools>Flood Fill,"Hybrid Flood Scan",  Flood_Tools.Hybrid_Flood_Scan
Plugins>Flood Tools>Flood Fill,"Hybrid_Flood Search", Flood_Tools.Hybrid_Flood_Search
Plugins>Flood Tools>Flood Fill,"Porosity To Hybrid", Flood_Tools.Porosity_To_Hybrid
Plugins>Flood Tools>Flood Fill,"Add Pore Liner", Flood_Tools.Add_Pore_Liner

Plugins>Flood Tools>Geodesic,"Geodesic Transform",  Flood_Tools.Geodesic_Transform
Plugins>Flood Tools>Geodesic,"GeodesicPath 2D",  Flood_Tools.GeodesicPath_2D
Plugins>Flood Tools>Geodesic,"GeodesicPath 3D",  Flood_Tools.GeodesicPath_3D
Plugins>Flood Tools>Geodesic,"Get Roi Values",  Flood_Tools.Get_Roi_Values
Plugins>Flood Tools>Geodesic,"Set Pixel Scale_3D",  Flood_Tools.Set_Pixel_Scale_3D
Plugins>Flood Tools>Geodesic,"Write ROI On Image", Flood_Tools.Write_ROI_On_Image
